
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BasicLayout</title>
</head>
<body>
    <div>
        <h1>Product Information</h1>
        <div style="padding:20px;border:solid medium black;font-size:20pt ">
            @RenderBody();
        </div>
    </div>
    <h2><a href="www.suthra.com">Suthra</a></h2>
</body>
</html>
