
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div class="jumbotron">
    <h1>Book&Go</h1>
    <p class="lead">Simple Hotel Managment System</p>
    <p><a href="~/Views/Hotels/ReadOnlyList.cshtml" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

